*
{
	box-sizing: border-box;
	margin: 0px;
}


.header{
	background-color:ECECF5;
	padding: 10px 10px 10px 10px;
	width:100%;
	height:90px;
}

.content{
	width:100%;
	height:700px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/hotel4.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;	
}

.footer{
	width:100%;
	height:100px;
	background-color:ECECF5;
}

 ul{
	text-align:right;
	padding-top:30px;
	list-style-type:none;
}

 ul li{
padding:25px;
margin:15px;
display:inline;
}

 ul li a{
	text-decoration:none;
	color:black;
}
li a:hover{
	color:1666BC;
}
	
.box{
	border:2px solid none;
	height:800px;
	width:800px;
	margin:auto;
    padding:50px;
	background-color:rgb(255,255,255,.4);
	font-size:14pt;
	}

label{
	float:left;
    width:270px;
	color:black;
	text-align:left;
	};

#box{
	float:right;
	width:400px;
	
}
#box2{
	border-radius:5px;
	line-height:20px;
	width:100px;
	margin-left:300px;
	margin-top:50px;
	color:white;
	background-color:black;
	
}